@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-brand{
  color:rgb(192, 132, 252);
}

.bg-brand{
  background-color: rgb(192, 132, 252);
}

.border-brand{
  border-color: #664DE5;
}

.button-base{
  padding:  4px 8px 4px 8px;
  border-radius: 6px;

}